<!-- views/pages/recherche.ejs -->

<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../partials/head') %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header') %>
    </header>

    <main>
        <div class="jumbotron">
            <p>Vous êtes dans la section recherche. Voici les résultats pour la date de <%= mois%>
                    <%= annee%>
            </p>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>

</body>

</html>